<div class="row">
    <div class="col-sm">
        <h4>Cardápio</h4>
        <app-itens-cardapio [Itens]="itensCardapio" [PodeSelecionar]="cardapioOk" (ItemSelecionado)="adicionarItemPedido($event)"></app-itens-cardapio>
        <div class="row" style="padding-left:5%;padding-right:5%">
            <button class="btn btn-primary btn-block" *ngIf="!cardapioOk" (click)="criarCardapio()">Criar cardápio</button>
        </div>
        <app-novo-item (novoItem)="adicionarItem($event)" *ngIf="!cardapioOk"></app-novo-item>
        <app-itens-pedido [Itens]="pedido" *ngIf="cardapioOk" (RemoverItem)="removerItem($event)"></app-itens-pedido>
        <div class="row" style="padding-left:5%;padding-right:5%" *ngIf="cardapioOk">
            <button class="btn btn-primary btn-block" (click)="novoPedido()">Pedir</button>
        </div>
    </div>
    <div class="col-sm">
        <h4>Fila de pedidos</h4>
        <app-fila-pedidos [Pedidos]="pedidosFila"></app-fila-pedidos>
    </div>
    <div class="col-sm">
        <h4>Pedidos Iniciados</h4>
        <app-fila-pedidos [Pedidos]="pedidosIniciados"></app-fila-pedidos>
    </div>
    <div class="col-sm">
        <h4>Pedidos Finalizados</h4>
        <app-fila-pedidos [Pedidos]="pedidosProntos" [PodeRetirar]="'true'" (RetirarPedido)="retirarPedido($event)"></app-fila-pedidos>
    </div>
    <div class="col-sm">
        <h4>Pedidos Entregues</h4>
        <app-fila-pedidos [Pedidos]="pedidosEntregues"></app-fila-pedidos>
    </div>
</div>